


h1{
    padding: 10px;
    text-align: center;
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #bdc3c7ff;
}

div.Giove_footer{
    text-align: center;
    color: #bdc3c7ff;
    margin: 20px calc(50% - 50px);
    padding: 20px;
}

a.back {
    background-color:#354a5fff; ;
    display: block;
    width: 50px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    color: #bdc3c7ff;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
}