/* #c6102e 
#8b4513 
#ff8c00 
#ffd900 
#ffffff */



* {
    box-sizing: border-box;
}

body {
    background-color: #8b4513;
    /* background-image: linear-gradient(#8b4513,#ffffff); */
    /* background-image: linear-gradient(#5d6d7eff,#edf1f2ff); */
}


h1{
    padding: 10px;
    text-align: center;
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #bdc3c7ff;
}

div.giove_footer{
    text-align: center;
    color: #bdc3c7ff;
    margin: 20px calc(50% - 100px);
    padding: 20px;
}

a.back {
    background-color:#354a5fff; ;
    display: block;
    width: 160px;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    color: #bdc3c7ff;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    line-height: 34px;
}

a.back:hover {
    background-image: radial-gradient(#2b3d4fff,white);
    cursor: pointer;
    text-transform: uppercase;
    
}