
* {
    box-sizing: border-box;
}

body{
    margin: 0;
}


header#main-header{
    background-image: url(../../assets/img/terra2.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 400px;
    line-height: 400px;
}

h1{
    font-size: 80px;
    color: darkgreen;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px gold;
    
}
h2{
    margin: 10px;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav {
    width: 20%;
    float: left;
    background-color: #00ffff;
    padding: 10px;
    height: 100vh;
    position: sticky;
    top: 0;
    
}
nav ul li a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    overflow-wrap: break-word;
    hyphens: auto;
    @media screen and (max-width: 300px) {
                font-size: 12px;
                }
    @media screen and (min-width: 250px)  and (max-width: 650px) {
                font-size:12px}
}

section#main-section {
    width: 80%;
    float: left;
    background-color: #7fff00;
    padding: 20px;
}

section#back {
    width: 80%;
    float: right;
    /* display: block; */
    background-color: red;
    /* text-align: center; */
}

footer#main-footer {
    width: 80%;
    float: right;
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
}

.author{
    color: black;
    text-decoration: underline;
}

address{
    display: inline-block;
}

dt{
    display: inline-block;
    min-width: 150px;
}

dd{
    display: inline-block;
}

div.clearfix {
    clear: both;
}





/* h1{
    padding: 10px;
    text-align: center;
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #bdc3c7ff;
} */

p#back {
    background-color: var(--venere-bg);
    text-align: center;
    color: #bdc3c7;
    margin: 20px calc(50% - 100px);
    padding: 20px;
    border-left: 0;
}


a.back {
    background-color:#354a5fff; ;
    display: block;
    width: 160px;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    color: #bdc3c7ff;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    line-height: 34px;
} 