/* Palette Pianeta Terra */

  /* Oceani */
  /* --terra-deep-ocean: #0a3d62;
  --terra-abyss-blue: #052f4e; */

  /* Mari e coste */
  /* --terra-coastal-cyan: #3dc1d3;
  --terra-shallow-water: #74d3ce; */

  /* Foreste e vegetazione */
  /* --terra-forest-green: #145a32;
  --terra-leaf-green: #27ae60;
  --terra-moss-green: #7fb77e; */

  /* Terre e deserti */
  /* --terra-desert-sand: #d4a373;
  --terra-clay-earth: #a47148;
  --terra-savanna-gold: #e1c16e; */

  /* Montagne e rocce */
  /* --terra-stone-grey: #6e6e6e;
  --terra-granite: #4b4b4b; */

  /* Ghiacci e nubi */
  /* --terra-polar-ice: #eaf6ff;
  --terra-glacier-blue: #b7d9f7;
  --terra-cloud-white: #f7f7f7; */




* {
    box-sizing: border-box;
}

body{
    margin: 0;
}


header#main-header{
    background-image: url(../../assets/img/terra2.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 400px;
    line-height: 400px;
    border-bottom: 5px ridge #6e6e6e;
}

h1{
    font-size: 100px;
    color: #b7d9f7;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px black;
    
}
h2{
    background-color: #052f4e;
    margin: 5px;
    padding: 10px;
    color: #f7f7f7;
}

h3 {
    background-color: #063b62 ;
    color:  #f7f7f7;
    margin: 5px;
    padding: 10px;
}
p { 
    padding: 25px 10px;
    margin: 0 10px;
    margin-top: 3px;
    color:black ;
    font-weight: 550;
}

.main__body{
    background-image: url(../../assets/img/prato_erba.jpg);
    background-color: rgba(146, 140, 140, 0.6);
    background-blend-mode: lighten;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



ul, ol {
    padding: 25px 35px;
    margin: 3px 10px;
    color:black ;
    font-weight: 550;
}

strong{
    text-decoration: underline;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav {
    width: 20%;
    float: left;
    background-image: url(../../assets/img/alberi.webp);
    background-position: center;
    padding: 10px;
    height: 100vh;
    position: sticky;
    top: 0;
}
nav ul li a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    /* overflow-wrap: break-word; */
    /* hyphens: auto; */
    border-bottom: 1px solid black;
    color: black;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.5);
    @media screen and (max-width: 300px) {
                font-size: 8px;
                margin: 5px;
                padding: 5px;
                text-align: left;
                }
    @media screen and (min-width: 250px)  and (max-width: 740px) {
                font-size: 8px;
                margin: 5px;
                padding: 5px;
                text-align: left;
            }
}

nav ul li a:hover{
    color: #0a3d62;
    font-size: 22px;
    text-decoration: underline;
    font-weight: 850;
    text-shadow: 2px 2px 2px  #02b90c;
     @media screen and (max-width: 300px){
        font-size: 16px;
     }
     @media screen and (min-width: 250px)  and (max-width: 740px) {
        font-size: 16px;
     }
}

section#main-section {
    width: 80%;
    float: left;
    background-color: #b7d9f7;
    padding: 5px;
}

section#back {
    width: 80%;
    float: right;
    background-image: url(../../assets/img/ocean.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    /* display: block; */
    /* background-color: #b7d9f7; */
    /* text-align: center; */
}

footer#main-footer {
    width: 80%;
    float: right;
    background-color:  #e1c16e;;
    padding: 10px;
    text-align: center;
}

ol.strati li {
    font-weight: 900;
}

.author{
    color: black;
    text-decoration: underline;
}

address{
    display: inline-block;
}

dt{
    display: inline-block;
    min-width: 150px;
}

dd{
    display: inline-block;
}

div.clearfix {
    clear: both;
}





/* h1{
    padding: 10px;
    text-align: center;
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #bdc3c7ff;
} */

p#back {
    background-image: none;
    background-color: none;
    text-align: center;
    color: #bdc3c7;
    margin: 20px calc(50% - 100px);
    padding: 20px;
    border-left: 0;
}


a.back {
    background-color:#145a32;
    display: block;
    width: 160px;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    color: #bdc3c7ff;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    line-height: 34px;
} 

a.back:hover{
    background-image: radial-gradient(white, #145a32);
    color: black;
    transition: 0.8s;
}