  /* --venere-blush:   #F2A7B8; rosa venere
  --venere-rose:    #F7C6D0; rosa chiaro, soffuso
  --venere-pearl:   #F4E9E2; perlaceo, etereo
  --venere-gold:    #E7C27A; oro morbido
  --venere-sand:    #D8B8A0; sabbia calda
  --venere-brown:   #6B4A3A; accento scuro elegante */


* {
    box-sizing: border-box;
}

  body{
    background-color: #f1ddcf;
    /* background-image: linear-gradient(to top, #F4E9E2,  #E7C27A,  #D8B8A0); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
  }

span{
    display: block;
}

h1{
    padding: 10px;
    text-align: center;
    font-size: 4.375rem;
    font-family:Arial, Helvetica, sans-serif;
    color:#E7C27A;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px black;
}

header#main-header{
    padding: 10px;
    /* background-color:  black; */
    color: white;
    background-image: url(../../assets/img/Venere.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

footer#main-footer{
    padding: 10px;
    background-color:  black;
    color: white;
}

nav ul{
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin: 25px;
    padding-left: 20px;
    /* border: 2px ridge black; */
}

nav ul li a.navigator{
    text-decoration: none;
    font-family: Lucida Calligraphy, Lucida Handwriting, cursive;
    font-size: 1.1rem;
    font-weight: 900;
    color: #6B4A3A;
}

nav ul li a.navigator:hover{
    text-decoration: underline;
    /* text-transform: uppercase; */
}

h3{
    padding: 10px;
    background-color:  #a16b52;

}
h2{
    font-style: oblique;
    padding: 10px;
    background-color:  #6B4A3A;

}

h4{
    background-color: #D8B8A0;
}

p{
    padding: 20px;
    margin: 20px;
    border-left: 4px solid #6B4A3A;
    background-color: rgba(216, 184, 160, 0.6);
}

p#back{
    background-color:  #f1ddcf;
    text-align: center;
    color: #bdc3c7ff;
    margin: 20px calc(50% - 100px);
    padding: 20px;
    border-left: 0;
}

div.up{
    text-align: right;
}

a.home{
    /* max-width: 70px; */
    text-align: right;
    text-decoration: none;
    color: #6B4A3A;
    font-family:  Lucida Calligraphy, Lucida Handwriting, cursive;
    display: block;
    
}


a.home:hover{
    cursor: none;
    text-transform: uppercase;
    font-weight: bold;
    color:  #6B4A3A;
    border-bottom: 1px solid #6B4A3A;
}

section.main__header,section.main__body{
    margin: 20px;
}

a.back {
    background-color:#6B4A3A;
    display: block;
    width: 160px;
    height: 40px;
    border: 2px solid black;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    line-height: 34px;
}

a.back:hover{
    background-image:radial-gradient(white, #6B4A3A);
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

footer#main-footer{
    font-size: 0.8rem;
}
.author{
    color:#F2A7B8 ;
}